.enter-btn {
  border: none;
  font: inherit;
  transition: 0.2s;
  outline: none;
  width: 200px;
  height: 50px;
  font-size: 17px;
  line-height: 17px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e70d2f;
  font-weight: bold;
  color: white;
  p {
    margin-left: 5px;
  }
}