.box-for-single {
  width: 45%;
  height: 200px;
  border: 1px solid crimson;
  background: antiquewhite;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

}