.exit-btn {
  border: none;
  font: inherit;
  transition: 0.2s;
  outline: none;
  width: 120px;
  height: 35px;
  max-width: 120px;
  min-width: 120px;
  font-size: 14px;
  line-height: 14px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #39dbde;
  font-weight: bold;
  color: white;
  p {
    margin-left: 5px;
  }
}